<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Агенты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="../css/agent.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="overlay-signIn overlayPopup">
        <div class="close"></div>
        <div class="signIn__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <div class="text">
                    <h5>Анна и Егор Лесовы</h5>
                    <span>
                        Адрес: ул. Мира, 24, кв. 56.
                        М. Мира. 3к квартира
                    </span>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                        безымянный печатник создал большую коллекцию размеров и форм шрифтов
                    </p>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                        безымянный печатник создал большую коллекцию размеров и форм шрифтов
                    </p>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                        безымянный печатник создал большую коллекцию размеров и форм шрифтов
                    </p>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                        безымянный печатник создал большую коллекцию размеров и форм шрифтов
                    </p>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                        безымянный печатник создал большую коллекцию размеров и форм шрифтов
                    </p>
                    <p>
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                        безымянный печатник создал большую коллекцию размеров и форм шрифтов
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay-personneldata personneldataPopup">
        <div class="close"></div>
        <div class="personneldata__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>

    <div class="overlay-valid validPopup">
        <div class="close"></div>
        <div class="valid__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <p>
                    Спасибо, Ваша заявка принята
                </p>
            </div>
        </div>
    </div>

    <div class="overlay-form formPopup">
        <div class="close"></div>
        <div class="form__popup">
            <span class="close-popup closeBtn"></span>
            <div class="content">
                <h3>Оставьте ваш телефон и наш эксперт перезвонит вам</h3>
                <form>
                    <div class="form_input_phone">
                        <input type="number " class="phone_mask" placeholder="Ваш телефон">
                    </div>
                    <a href="javascript:void(0)" class="btn">
                        Оставить заявку
                    </a>
                    <p class="about">
                        Отправляя заявку, вы даете свое согласие на обработку <a href="javascript:void(0)">персональных данных</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

    <div class="overlay-cost costPopup">
        <div class="close"></div>
        <div class="cost__popup">
            <div class="content">
                <h3>Оценка производится специалистом за несколько минут.
                    Данные придут на почту или телефон.
                </h3>
                <form>
                    <div class="form_input">
                        <input type="text" placeholder="Адрес">
                    </div>
                    <div class="form_input">
                        <input type="text" placeholder="Общая площадь">
                    </div>
                    <div class="form_input">
                        <input type="text" placeholder="Количество комнат">
                    </div>
                    <div class="form_input">
                        <input type="text" placeholder="Email*">
                    </div>
                    <div class="form_input">
                        <input type="tel" class="phone_mask" placeholder="Ваш телефон">
                    </div>
                    <a href="javascript:void(0)" class="btn">
                        Рассчитать
                    </a>
                    <p class="about">
                        Отправляя заявку, вы даете свое согласие на обработку <a href="javascript:void(0)">персональных данных</a>
                    </p>
                </form>
            </div>
        </div>
    </div>


    <header>
        <div class="container">
            <div class="desktop">
                <div class="menu">
                    <i class="icon-menu btn_menu"></i>
                    <div class="social">
                        <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                        <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                        <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                    </div>
                    <div class="sub_menu">
                        <ul>
                            <li><a href="agent.html">Агенты</a></li>
                            <li><a href="services.html">Услуги</a></li>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="articles.html">Статьи</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="logo">
                    <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                </div>
                <div class="phone">
                    <a class="tel" href="tel:+79039728251"></i>+7 (903) 972-82-51</a>
                    <a href="javascript:void(0)" class="btn open-form">
                        Заказать звонок
                    </a>
                </div>
            </div>
            <div class="mobile">
                <div class="top">
                    <div class="menu">
                        <i class="icon-menu btn_menu"></i>
                        <div class="sub_menu">
                            <ul>
                                <li><a href="agent.html">Агенты</a></li>
                                <li><a href="services.html">Услуги</a></li>
                                <li><a href="reviews.html">Отзывы</a></li>
                                <li><a href="articles.html">Статьи</a></li>
                                <li><a href="contact.html">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="logo">
                        <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                    </div>
                    <div class="social">
                        <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                        <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                        <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                    </div>
                </div>
                <div class="mobile_bottom">
                    <div class="phone">
                        <a class="tel" href="tel:+79039728251">+7 (903) 972-82-51</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="banner">
        <div class="container">
            <p>Агенты</p>
        </div>
    </section>
    <div class="agent">
        <div class="container">
            <h3>Наша команда</h3>
            <p>Все сотрудники имеют профессиональное образование и опыт работы минимум 5 лет</p>
            <div class="box_container">
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>

                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>

                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
                <a href="agent_about.html" class="box">
                    <div class="img_box">
                        <span>
                            <img src="../img/man4.png">
                        </span>
                    </div>
                    <p>Петрова Екатерина</p>
                    <p><span>Старший експерт</span></p>
                </a>
            </div>
        </div>
    </div>


    <footer>
        <div class="mobile">
            <div class="container">
                <h3>Напишите нам на:</h3>
                <div class="social">
                    <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                    <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                    <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                    <div class="phone">
                        <a class="tel" href="tel:+79039728251">+7 (903) 972-82-51</a>
                    </div>
                </div>
                <div class="logo">
                    <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                </div>
                <div class="phone">
                    <a class="tel" href="tel:+79039728251"><i class="icon-phone"></i>+7 (903) 972-82-51</a>
                </div>
            </div>
            <div class="bottom_footer">
                <div class="container">
                    <div class="bottom_footer">
                        <div class="footer_menu">
                            <ul>
                                <li><a href="agent.html">Агенты</a></li>
                                <li><a href="reviews.html">Отзывы</a></li>
                                <li><a href="articles.html">Статьи</a></li>
                                <li><a href="contact.html">Контакты</a></li>
                                <li><a href="services.html">Услуги</a></li>
                            </ul>
                            <div class="menu_services">
                                <ul>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about">
                            <p>© 2014-2019 Центр Недвижимости Белый Дом</p>
                            <p>
                                Вся представленная на сайте информация нуждается в подтверждении и
                                не является публичной офертой, определяемой положениями п.2 ст.437 ГК РФ.
                                При использовании материалов ссылка на сайт обязательна.
                            </p>
                            <a href="javascript:void(0)">Политика хранения и обработки персональных данных</a>
                            <a href="javascript:void(0)">Карта сайта</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop">
            <div class="container">
                <div class="top_footer">
                    <div class="social">
                        <h3>Напишите нам на:
                            <span>
                                <a class="tel" href="tel:+79039728251">+7 (903) 972-82-51</a>
                            </span>
                        </h3>
                        <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                        <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                        <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                    </div>
                    <div class="logo">
                        <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                    </div>
                    <div class="phone">
                        <a class="tel" href="tel:+79039728251"><i class="icon-phone"></i>+7 (903) 972-82-51</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="bottom_footer">
                    <div class="about">
                        <p><strong>© 2014-2019 Центр Недвижимости Белый Дом</strong></p>
                        <p>
                            Вся представленная на сайте информация нуждается в подтверждении и
                            не является публичной офертой, определяемой положениями п.2 ст.437 ГК РФ.
                            При использовании материалов ссылка на сайт обязательна.
                        </p>
                        <a href="javascript:void(0)">Политика хранения и обработки персональных данных</a>
                        <a href="javascript:void(0)">Карта сайта</a>
                    </div>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="agent.html">Агенты</a></li>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="articles.html">Статьи</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                            <li><a href="services.html">Услуги</a></li>
                        </ul>
                        <div class="menu_services">
                            <ul>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 2</a></li>
                                <li><a href="javascript:void(0)">Услуга 3</a></li>
                                <li><a href="javascript:void(0)">Услуга 4</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 2</a></li>
                                <li><a href="javascript:void(0)">Услуга 3</a></li>
                                <li><a href="javascript:void(0)">Услуга 4</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 2</a></li>
                                <li><a href="javascript:void(0)">Услуга 3</a></li>
                                <li><a href="javascript:void(0)">Услуга 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/fancybox.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>