<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Белый дом</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <div class="home_bg">
        <div class="overlay-signIn overlayPopup">
            <div class="close"></div>
            <div class="signIn__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <div class="text">
                        <h5>Анна и Егор Лесовы</h5>
                        <span>
                            Адрес: ул. Мира, 24, кв. 56.
                            М. Мира. 3к квартира
                        </span>
                        <p>
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                            безымянный печатник создал большую коллекцию размеров и форм шрифтов
                        </p>
                        <p>
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                            безымянный печатник создал большую коллекцию размеров и форм шрифтов
                        </p>
                        <p>
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                            безымянный печатник создал большую коллекцию размеров и форм шрифтов
                        </p>
                        <p>
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                            безымянный печатник создал большую коллекцию размеров и форм шрифтов
                        </p>
                        <p>
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                            безымянный печатник создал большую коллекцию размеров и форм шрифтов
                        </p>
                        <p>
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                            безымянный печатник создал большую коллекцию размеров и форм шрифтов
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay-personneldata personneldataPopup">
            <div class="close"></div>
            <div class="personneldata__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>

        <div class="overlay-valid validPopup">
            <div class="close"></div>
            <div class="valid__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <p>
                        Спасибо, Ваша заявка принята
                    </p>
                </div>
            </div>
        </div>

        <div class="overlay-form formPopup">
            <div class="close"></div>
            <div class="form__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>Оставьте ваш телефон и наш эксперт перезвонит вам</h3>
                    <form>
                        <div class="form_input_phone">
                            <input type="number " class="phone_mask" placeholder="Ваш телефон">
                        </div>
                        <a href="javascript:void(0)" class="btn">
                            Оставить заявку
                        </a>
                        <p class="about">
                            Отправляя заявку, вы даете свое согласие на обработку <a href="javascript:void(0)">персональных данных</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <div class="overlay-cost costPopup">
            <div class="close"></div>
            <div class="cost__popup">
                <div class="content">
                    <h3>Оценка производится специалистом за несколько минут.
                        Данные придут на почту или телефон.
                    </h3>
                    <form>
                        <div class="form_input">
                            <input type="text" placeholder="Адрес">
                        </div>
                        <div class="form_input">
                            <input type="text" placeholder="Общая площадь">
                        </div>
                        <div class="form_input">
                            <input type="text" placeholder="Количество комнат">
                        </div>
                        <div class="form_input">
                            <input type="text" placeholder="Email*">
                        </div>
                        <div class="form_input">
                            <input type="tel" class="phone_mask" placeholder="Ваш телефон">
                        </div>
                        <a href="javascript:void(0)" class="btn">
                            Рассчитать
                        </a>
                        <p class="about">
                            Отправляя заявку, вы даете свое согласие на обработку <a href="javascript:void(0)">персональных данных</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <header>
            <div class="container">
                <div class="desktop">
                    <div class="menu">
                        <i class="icon-menu btn_menu"></i>
                        <div class="social">
                            <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                            <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                            <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                        </div>
                        <div class="sub_menu">
                            <ul>
                                <li><a href="agent.html">Агенты</a></li>
                                <li><a href="services.html">Услуги</a></li>
                                <li><a href="reviews.html">Отзывы</a></li>
                                <li><a href="articles.html">Статьи</a></li>
                                <li><a href="contact.html">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="logo">
                        <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                    </div>
                    <div class="phone">
                        <a class="tel" href="tel:+79039728251"></i>+7 (903) 972-82-51</a>
                        <a href="javascript:void(0)" class="btn open-form">
                            Заказать звонок
                        </a>
                    </div>
                </div>
                <div class="mobile">
                    <div class="top">
                        <div class="menu">
                            <i class="icon-menu btn_menu"></i>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="agent.html">Агенты</a></li>
                                    <li><a href="services.html">Услуги</a></li>
                                    <li><a href="reviews.html">Отзывы</a></li>
                                    <li><a href="articles.html">Статьи</a></li>
                                    <li><a href="contact.html">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="logo">
                            <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                        </div>
                        <div class="social">
                            <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                            <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                            <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                        </div>
                    </div>
                    <div class="mobile_bottom">
                        <div class="phone">
                            <a class="tel" href="tel:+79039728251">+7 (903) 972-82-51</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="banner">
            <div class="container">
                <div class="banner_slider">
                    <div>
                        <div class="banner_slide">
                            <div class="banner_text">
                                <h3>
                                    Специализируемся
                                    на сделках
                                    с залоговой
                                    недвижимостью
                                </h3>
                                <p>Юридическая чистота сделок</p>
                                <p>Профессионализм сотрудников</p>
                            </div>
                            <img src="../img/man_banner.png">
                        </div>
                    </div>
                    <div>
                        <div class="banner_slide">
                            <div class="banner_text">
                                <h3>
                                    Специализируемся
                                    на сделках
                                    с залоговой
                                    недвижимостью
                                </h3>
                                <p>Юридическая чистота сделок</p>
                                <p>Профессионализм сотрудников</p>
                            </div>
                            <img src="../img/man_banner.png">
                        </div>
                    </div>
                    <div>
                        <div class="banner_slide">
                            <div class="banner_text">
                                <h3>
                                    Специализируемся
                                    на сделках
                                    с залоговой
                                    недвижимостью
                                </h3>
                                <p>Юридическая чистота сделок</p>
                                <p>Профессионализм сотрудников</p>
                            </div>
                            <img src="../img/man_banner.png">
                        </div>
                    </div>
                </div>
                <div class="num"><span id="cp">1</span>/3</div>
            </div>
        </section>
    </div>


    <section class="services">
        <div class="container">
            <div class="services_container">
                <h3>
                    Наши услуги
                </h3>
                <div class="box_container">
                    <a href="services.html" class="box">
                        <div class="img_box" style="background-image: url(../img/photo1.png);">
                            <div class="text">
                                <p>Срочный выкуп квартир</p>
                                <strong>За 1-3 дня</strong>
                            </div>
                        </div>

                    </a>
                    <a href="services.html" class="box">
                        <div class="img_box" style="background-image: url(../img/photo2.png);">
                            <div class="text">
                                <p>Срочная продажа квартир</p>
                                <strong>За 2-3 недели</strong>
                            </div>
                        </div>
                    </a>
                    <a href="services.html" class="box">
                        <div class="img_box" style="background-image: url(../img/photo3.png);">
                            <div class="text">
                                <p> Продажа квартир в ипотеке</p>
                                <strong>Под залогом</strong>
                                <strong>С долгами по ЖКХ</strong>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <a href="services.html" class="btn">
                Все услуги
            </a>
        </div>
    </section>

    <section class="banner_form open-cost">
        <div class="container">
            <div class="banner_container">
                <p>Оцените стоимость
                    <span>вашей квартиры</span>
                </p>
                <a href="javascript:void(0)">ОНЛАЙН</a>
            </div>
        </div>
    </section>

    <section class="servis">
        <div class="container">
            <div class="container_work">
                <h3>Как мы работаем</h3>
                <div class="box_container">
                    <div class="box">
                        <div class="img_box" style="background-image: url(../img/icon1.png);"></div>
                        <p>
                            Вы ничего не оплачиваете заранее
                        </p>
                        <p> <span>Оплата услуг - только по факту сделки</span></p>

                    </div>
                    <div class="box">
                        <div class="img_box" style="background-image: url(../img/icon2.png);"></div>
                        <p>
                            Размер комиссии индивидуален
                        </p>
                        <p><span>И мы обязательно с вами договоримся!</span></p>

                    </div>
                    <div class="box">
                        <div class="img_box" style="background-image: url(../img/icon3.png);"></div>
                        <p>
                            Гарантируем полную прозрачность
                        </p>
                        <p><span>и юридическую чистоту сделки</span></p>

                    </div>
                </div>
                <div class="box_bottom">
                    <div class="subtext">
                        <h4>Что нужно сделать, чтобы начать сотрудничать?</h4>
                        <p>Оставьте заявку на сайте или приезжайте к нам в офис, чтобы познакомиться и все обсудить.
                            Мы подробно расскажем вам о всех наших инструментах и видах сделок, и вместе подберемдля вас
                            оптимальный вариант
                        </p>
                    </div>
                    <form>
                        <div class="form_input_phone">
                            <input type="tel" class="phone_mask" placeholder="Ваш телефон">
                            <a href="javascript:void(0)" class="btn">
                                Оставить заявку
                            </a>
                        </div>
                        <p class="about">
                            Отправляя заявку, вы даете свое согласие на обработку <a href="javascript:void(0)">персональных данных</a>
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <section class="company">
        <div class="container">
            <h3>
                Наша компания
            </h3>
            <div class="box_container">
                <div class="box">
                    <h4>Центр недвижимости
                        <span>Белый Дом это: </span>
                    </h4>
                    <ul>
                        <li>Специализрованное агентство по работе с залоговой недвижимостью</li>
                        <li>7 лет успешной работы на рынке Москвы и Московской области</li>
                        <li>Тысячи клиентов, которым мы помогли решить их жилищные проблемы</li>
                        <li>Решение любых, даже самых сложных проблем с недвижимостью</li>
                    </ul>
                </div>
                <div class="box">
                    <h4>В штате Центр недвижимости
                        <span>Белый Дом работают: </span>
                    </h4>
                    <ul>
                        <li>Опытные риэлторы и брокеры</li>
                        <li>Компетентные оценщики стоимости недвижимости</li>
                        <li>Грамотные юристы, специализирующиеся на залоговой недвижимости</li>
                        <li>Профессиональные страховщики</li>
                    </ul>
                </div>
            </div>
            <div class="form_container">
                <p>Вам нужна консультация?
                    У вас есть вопросы? Задайте
                    их нашим специалистам! </p>
                <form>
                    <div class="form_input">
                        <input type="text" placeholder="Ваш email">
                    </div>
                    <div class="form_input">
                        <input type="tel" class="phone_mask" placeholder="Ваш телефон">
                    </div>
                    <div class="message">
                        <textarea placeholder="Ваше сообщение"></textarea>
                    </div>
                    <a href="javascript:void(0)" class="btn">
                        Отправить
                    </a>
                    <p class="about">
                        Отправляя заявку, вы даете свое согласие на обработку <a href="javascript:void(0)">персональных данных</a>
                    </p>
                </form>
            </div>
            <div class="team">
                <h3>
                    Наша команда
                </h3>
                <p>
                    Все сотрудники имеют профессиональное образование и опыт работы минимум 5 лет
                </p>
                <div class="team_slider">
                    <div>
                        <div class="team_slide">
                            <a href="agent_about.html" class="box" tabindex="-1">
                                <div class="img_box">
                                    <span>
                                        <img src="../img/man4.png">
                                    </span>
                                </div>
                                <p>Петрова Екатерина</p>
                                <p><span>Старший експерт</span></p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="team_slide">
                            <a href="agent_about.html" class="box" tabindex="-1">
                                <div class="img_box">
                                    <span>
                                        <img src="../img/man4.png">
                                    </span>
                                </div>
                                <p>Петрова Екатерина</p>
                                <p><span>Старший експерт</span></p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="team_slide">
                            <a href="agent_about.html" class="box" tabindex="-1">
                                <div class="img_box">
                                    <span>
                                        <img src="../img/man4.png">
                                    </span>
                                </div>
                                <p>Петрова Екатерина</p>
                                <p><span>Старший експерт</span></p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="team_slide">
                            <a href="agent_about.html" class="box" tabindex="-1">
                                <div class="img_box">
                                    <span>
                                        <img src="../img/man4.png">
                                    </span>
                                </div>
                                <p>Петрова Екатерина</p>
                                <p><span>Старший експерт</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="agent.html" class="btn">
                Все сотрудники
            </a>
            <div class="advant">
                <h3>
                    С помощью наших
                    специалистов вы
                    всегда можете:
                </h3>
                <div class="advant_box">
                    <div class="box">
                        <img src="../img/ico_1.png">
                        <p>Быстро и максимально дорого продать квартиру, комнату или долю.</p>
                    </div>
                    <div class="box">
                        <img src="../img/ico_2.png">
                        <p>Купить жилье на первичном или вторичном рынке,
                            в том числе в ипотеку.</p>
                    </div>
                    <div class="box">
                        <img src="../img/ico_3.png">
                        <p>Обменять собственную недвижимость, в том числе с трейд-ин.</p>
                    </div>
                    <div class="box">
                        <img src="../img/ico_4.png">
                        <p>Провести оценку, проверить юридическую чистоту квартиры.</p>
                    </div>
                    <div class="box">
                        <img src="../img/ico_5.png">
                        <p>Застраховаться от рисков, связанных
                            с куплей-продажей квартиры.</p>
                    </div>
                    <div class="box">
                        <img src="../img/ico_6.png">
                        <p>Получить подробные бесплатные консультации
                            по любым вопросам. </p>
                    </div>
                    <a href="#" class="btn">
                        Оставить заявку
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="reviews">
        <div class="container">
            <h3>Отзывы клиентов </h3>
            <div class="reviews_slider">
                <div>
                    <div class="reviews_slide">
                        <div class="box">
                            <a href="../img/rev.png" class="modalbox">
                                <span><img src="../img/rev.png"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="reviews_slide">
                        <div class="box">
                            <a href="../img/rev.png" class="modalbox">
                                <span><img src="../img/rev.png"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="reviews_slide">
                        <div class="box">
                            <a href="../img/rev.png" class="modalbox">
                                <span><img src="../img/rev.png"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="reviews_slide">
                        <div class="box">
                            <a href="../img/rev.png" class="modalbox">
                                <span><img src="../img/rev.png"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="reviews_slide">
                        <div class="box">
                            <a href="../img/rev.png" class="modalbox">
                                <span><img src="../img/rev.png"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="reviews-dots" style="display: block;" role="tablist">
                    <li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control10" aria-controls="slick-slide10" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li>
                    <li role="presentation"><button type="button" role="tab" id="slick-slide-control11" aria-controls="slick-slide11" aria-label="2 of 2" tabindex="-1">2</button></li>
                    <li role="presentation"><button type="button" role="tab" id="slick-slide-control12" aria-controls="slick-slide12" aria-label="3 of 2" tabindex="-1">3</button></li>
                    <li role="presentation"><button type="button" role="tab" id="slick-slide-control13" aria-controls="slick-slide13" aria-label="4 of 2" tabindex="-1">4</button></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="articles">
        <div class="container">
            <h3>Статьи</h3>
            <div class="articles_slider">
                <div><a href="articles_about.html" class="articles_slide">
                        <img src="../img/photo11.png">
                        <div class="text">
                            <h4>Присутствие нотариуса на сделке</h4>
                            <p>
                                Процесс оформления сделок на рынке недвижимости все время подвергается изменениям.
                                С 2016 года в законопроекте РФ ...
                            </p>
                        </div>
                    </a></div>
                <div><a href="articles_about.html" class="articles_slide">
                        <img src="../img/photo11.png">
                        <div class="text">
                            <h4>Присутствие нотариуса на сделке</h4>
                            <p>
                                Процесс оформления сделок на рынке недвижимости все время подвергается изменениям.
                                С 2016 года в законопроекте РФ ...
                            </p>
                        </div>
                    </a></div>
                <div><a href="articles_about.html" class="articles_slide">
                        <img src="../img/photo11.png">
                        <div class="text">
                            <h4>Присутствие нотариуса на сделке</h4>
                            <p>
                                Процесс оформления сделок на рынке недвижимости все время подвергается изменениям.
                                С 2016 года в законопроекте РФ ...
                            </p>
                        </div>
                    </a></div>
                <div><a href="articles_about.html" class="articles_slide">
                        <img src="../img/photo11.png">
                        <div class="text">
                            <h4>Присутствие нотариуса на сделке</h4>
                            <p>
                                Процесс оформления сделок на рынке недвижимости все время подвергается изменениям.
                                С 2016 года в законопроекте РФ ...
                            </p>
                        </div>
                    </a></div>
                <div><a href="articles_about.html" class="articles_slide">
                        <img src="../img/photo11.png">
                        <div class="text">
                            <h4>Присутствие нотариуса на сделке</h4>
                            <p>
                                Процесс оформления сделок на рынке недвижимости все время подвергается изменениям.
                                С 2016 года в законопроекте РФ ...
                            </p>
                        </div>
                    </a></div>
            </div>
            <a href="articles.html" class="btn">
                Все статьи
            </a>
        </div>
    </section>

    <section class="work">
        <div class="container">
            <h3>Приглашаем на работу</h3>
            <div class="work_slider">
                <div>
                    <div class="work_slide">
                        <img src="../img/man10.png">
                        <div class="text">
                            <p>Сертифицированных риэлторов</p>
                            <p>Брокеров</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="work_slide">
                        <img src="../img/man8.png">
                        <div class="text">
                            <p>Опытных экспертов по недвижимости</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="work_slide">
                        <img src="../img/man9.png">
                        <div class="text">
                            <p>Сотрудников без опыта работы</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="maps">
        <div class="contact">
            <div class="address">
                <p>г. Москва,
                    Новая площадь, 10
                </p>

            </div>
            <div class="metro">
                <p>Лубянка, 150 м </p>
                <p>Кузнецкий мост, 400 м </p>
                <p>Китай-город, 500 м </p>
            </div>
            <div class="schedule">
                <p>Время работы: с 9:00 до 18:00</p>

            </div>
            <div class="phone">
                <a class="tel" href="tel:+79039728251"><i class="icon-phone-receiver"></i>+7(903)972-82-51</a>
            </div>
            <p>Прием заявок на сайте -
                круглосуточно
            </p>
            <form>
                <div class="form_input_phone">
                    <input type="tel" class="phone_mask" placeholder="Ваш телефон">
                </div>
                <a href="javascript:void(0)" class="btn">
                    Оставить заявку
                </a>
                <p class="about">
                    Отправляя заявку, вы даете свое согласие на обработку <a href="javascript:void(0)">персональных данных</a>
                </p>
            </form>
        </div>
    </section>

    <footer>
        <div class="mobile">
            <div class="container">
                <h3>Напишите нам на:</h3>
                <div class="social">
                    <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                    <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                    <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                    <div class="phone">
                        <a class="tel" href="tel:+79039728251">+7 (903) 972-82-51</a>
                    </div>
                </div>
                <div class="logo">
                    <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                </div>
                <div class="phone">
                    <a class="tel" href="tel:+79039728251"><i class="icon-phone"></i>+7 (903) 972-82-51</a>
                </div>
            </div>
            <div class="bottom_footer">
                <div class="container">
                    <div class="bottom_footer">
                        <div class="footer_menu">
                            <ul>
                                <li><a href="agent.html">Агенты</a></li>
                                <li><a href="reviews.html">Отзывы</a></li>
                                <li><a href="articles.html">Статьи</a></li>
                                <li><a href="contact.html">Контакты</a></li>
                                <li><a href="services.html">Услуги</a></li>
                            </ul>
                            <div class="menu_services">
                                <ul>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                    <li><a href="javascript:void(0)">Услуга 1</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about">
                            <p>© 2014-2019 Центр Недвижимости Белый Дом</p>
                            <p>
                                Вся представленная на сайте информация нуждается в подтверждении и
                                не является публичной офертой, определяемой положениями п.2 ст.437 ГК РФ.
                                При использовании материалов ссылка на сайт обязательна.
                            </p>
                            <a href="javascript:void(0)">Политика хранения и обработки персональных данных</a>
                            <a href="javascript:void(0)">Карта сайта</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop">
            <div class="container">
                <div class="top_footer">
                    <div class="social">
                        <h3>Напишите нам на:
                            <span>
                                <a class="tel" href="tel:+79039728251">+7 (903) 972-82-51</a>
                            </span>
                        </h3>
                        <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                        <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                        <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                    </div>
                    <div class="logo">
                        <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                    </div>
                    <div class="phone">
                        <a class="tel" href="tel:+79039728251"><i class="icon-phone"></i>+7 (903) 972-82-51</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="bottom_footer">
                    <div class="about">
                        <p><strong>© 2014-2019 Центр Недвижимости Белый Дом</strong></p>
                        <p>
                            Вся представленная на сайте информация нуждается в подтверждении и
                            не является публичной офертой, определяемой положениями п.2 ст.437 ГК РФ.
                            При использовании материалов ссылка на сайт обязательна.
                        </p>
                        <a href="javascript:void(0)">Политика хранения и обработки персональных данных</a>
                        <a href="javascript:void(0)">Карта сайта</a>
                    </div>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="agent.html">Агенты</a></li>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="articles.html">Статьи</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                            <li><a href="services.html">Услуги</a></li>
                        </ul>
                        <div class="menu_services">
                            <ul>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 2</a></li>
                                <li><a href="javascript:void(0)">Услуга 3</a></li>
                                <li><a href="javascript:void(0)">Услуга 4</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 2</a></li>
                                <li><a href="javascript:void(0)">Услуга 3</a></li>
                                <li><a href="javascript:void(0)">Услуга 4</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 2</a></li>
                                <li><a href="javascript:void(0)">Услуга 3</a></li>
                                <li><a href="javascript:void(0)">Услуга 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/fancybox.min.js"></script>
    <script src="../js/script.min.js"></script>

</body>

</html>