<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="agent_about.html">Агенты_внутренняя</a></li>
        <li><a href="agent.html">Агенты</a></li>
        <li><a href="contact.html">Контакты</a></li>
        <li><a href="reviews.html">Отзывы</a></li>
        <li><a href="articles.html">Статьи</a></li>
        <li><a href=" articles_about.html">Статьи_внтренняя</a></li>
        <li><a href="services.html">Страница услуги</a></li>
        <li><a href="services_about.html">Страница услуги общая</a></li>
        <li><a href="company.html">О компании</a></li>
        <li><a href="404.html">404</a></li>
    </ul>
</body>

</html>