<footer>
    <div class="mobile">
        <div class="container">
            <h3>Напишите нам на:</h3>
            <div class="social">
                <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                <div class="phone">
                    <a class="tel" href="tel:+79039728251">+7 (903) 972-82-51</a>
                </div>
            </div>
            <div class="logo">
                <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
            </div>
            <div class="phone">
                <a class="tel" href="tel:+79039728251"><i class="icon-phone"></i>+7 (903) 972-82-51</a>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="container">
                <div class="bottom_footer">
                    <div class="footer_menu">
                        <ul>
                            <li><a href="agent.html">Агенты</a></li>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="articles.html">Статьи</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                            <li><a href="services.html">Услуги</a></li>
                        </ul>
                        <div class="menu_services">
                            <ul>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                            </ul>
                            <ul>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                                <li><a href="javascript:void(0)">Услуга 1</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="about">
                        <p>© 2014-2019 Центр Недвижимости Белый Дом</p>
                        <p>
                            Вся представленная на сайте информация нуждается в подтверждении и
                            не является публичной офертой, определяемой положениями п.2 ст.437  ГК РФ.
                            При использовании материалов ссылка на сайт обязательна.
                        </p>
                        <a href="javascript:void(0)">Политика хранения и обработки персональных данных</a>
                        <a href="javascript:void(0)">Карта сайта</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="desktop">
        <div class="container">
            <div class="top_footer">
                <div class="social">
                    <h3>Напишите нам на:
                            <span>
                                <a class="tel" href="tel:+79039728251">+7 (903) 972-82-51</a>
                            </span>
                    </h3>
                    <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                    <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                    <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                </div>
                <div class="logo">
                    <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                </div>
                <div class="phone">
                    <a class="tel" href="tel:+79039728251"><i class="icon-phone"></i>+7 (903) 972-82-51</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bottom_footer">
                <div class="about">
                   <p><strong>© 2014-2019 Центр Недвижимости Белый Дом</strong></p>
                    <p>
                        Вся представленная на сайте информация нуждается в подтверждении и
                        не является публичной офертой, определяемой положениями п.2 ст.437  ГК РФ.
                        При использовании материалов ссылка на сайт обязательна.
                    </p>
                    <a href="javascript:void(0)">Политика хранения и обработки персональных данных</a>
                    <a href="javascript:void(0)">Карта сайта</a>
                </div>
                <div class="footer_menu">
                    <ul>
                        <li><a href="agent.html">Агенты</a></li>
                        <li><a href="reviews.html">Отзывы</a></li>
                        <li><a href="articles.html">Статьи</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                        <li><a href="services.html">Услуги</a></li>
                    </ul>
                    <div class="menu_services">
                        <ul>
                            <li><a href="javascript:void(0)">Услуга 1</a></li>
                            <li><a href="javascript:void(0)">Услуга 2</a></li>
                            <li><a href="javascript:void(0)">Услуга 3</a></li>
                            <li><a href="javascript:void(0)">Услуга 4</a></li>
                        </ul>
                        <ul>
                            <li><a href="javascript:void(0)">Услуга 1</a></li>
                            <li><a href="javascript:void(0)">Услуга 2</a></li>
                            <li><a href="javascript:void(0)">Услуга 3</a></li>
                            <li><a href="javascript:void(0)">Услуга 4</a></li>
                        </ul>
                        <ul>
                            <li><a href="javascript:void(0)">Услуга 1</a></li>
                            <li><a href="javascript:void(0)">Услуга 2</a></li>
                            <li><a href="javascript:void(0)">Услуга 3</a></li>
                            <li><a href="javascript:void(0)">Услуга 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>