<header>
    <div class="container">
        <div class="desktop">
            <div class="menu">
                <i class="icon-menu btn_menu"></i>
                <div class="social">
                    <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                    <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                    <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                </div>
                <div class="sub_menu">
                    <ul>
                        <li><a href="agent.html">Агенты</a></li>
                        <li><a href="services.html">Услуги</a></li>
                        <li><a href="reviews.html">Отзывы</a></li>
                        <li><a href="articles.html">Статьи</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="logo">
                <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
            </div>
            <div class="phone">
                <a class="tel" href="tel:+79039728251"></i>+7 (903) 972-82-51</a>
                <a href="javascript:void(0)" class="btn open-form">
                    Заказать звонок
                </a>
            </div>
        </div>
        <div class="mobile">
            <div class="top">
                <div class="menu">
                    <i class="icon-menu btn_menu"></i>
                    <div class="sub_menu">
                        <ul>
                            <li><a href="agent.html">Агенты</a></li>
                            <li><a href="services.html">Услуги</a></li>
                            <li><a href="reviews.html">Отзывы</a></li>
                            <li><a href="articles.html">Статьи</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="logo">
                    <a href="index.html"><img src="../img/logo.png" alt="Logo"></a>
                </div>
                <div class="social">
                    <a href="javascript:void(0)"><img src="../img/whatsup.png"></a>
                    <a href="javascript:void(0)"><img src="../img/viber.png"></a>
                    <a href="javascript:void(0)"><img src="../img/telegram.png"></a>
                </div>
            </div>
            <div class="mobile_bottom">
                <div class="phone">
                    <a class="tel" href="tel:+79039728251">+7 (903) 972-82-51</a>
                </div>
            </div>
        </div>
    </div>
</header>