<div class="overlay-signIn overlayPopup">
    <div class="close"></div>
    <div class="signIn__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <div class="text">
                <h5>Анна и Егор Лесовы</h5>
                    <span>
                        Адрес: ул. Мира, 24, кв. 56.
                        М. Мира. 3к квартира
                    </span>
                <p>
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                    безымянный печатник создал большую коллекцию размеров и форм шрифтов
                </p>
                <p>
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                    безымянный печатник создал большую коллекцию размеров и форм шрифтов
                </p>
                <p>
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                    безымянный печатник создал большую коллекцию размеров и форм шрифтов
                </p>
                <p>
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                    безымянный печатник создал большую коллекцию размеров и форм шрифтов
                </p>
                <p>
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                    безымянный печатник создал большую коллекцию размеров и форм шрифтов
                </p>
                <p>
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                    безымянный печатник создал большую коллекцию размеров и форм шрифтов
                </p>
            </div>
        </div>
    </div>
</div>

<div class="overlay-personneldata personneldataPopup">
    <div class="close"></div>
    <div class="personneldata__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>

<div class="overlay-valid validPopup">
    <div class="close"></div>
    <div class="valid__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p>
                Спасибо, Ваша заявка принята
            </p>
        </div>
    </div>
</div>

<div class="overlay-form formPopup">
    <div class="close"></div>
    <div class="form__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <h3>Оставьте ваш телефон и наш эксперт перезвонит вам</h3>
            <form>
                <div class="form_input_phone">
                    <input type="number " class="phone_mask" placeholder="Ваш телефон">
                </div>
                <a href="javascript:void(0)" class="btn">
                    Оставить заявку
                </a>
                <p class="about">
                    Отправляя заявку, вы даете свое согласие на обработку <a href="javascript:void(0)">персональных данных</a>
                </p>
            </form>
        </div>
    </div>
</div>

<div class="overlay-cost costPopup">
    <div class="close"></div>
    <div class="cost__popup">
        <div class="content">
            <h3>Оценка производится специалистом за несколько минут.
                Данные придут на почту или телефон.
            </h3>
           <form>
               <div class="form_input">
                   <input type="text" placeholder="Адрес">
               </div>
               <div class="form_input">
                   <input type="text" placeholder="Общая площадь">
               </div>
               <div class="form_input">
                   <input type="text" placeholder="Количество комнат">
               </div>
               <div class="form_input">
                   <input type="text" placeholder="Email*">
               </div>
               <div class="form_input">
                   <input type="tel" class="phone_mask"placeholder="Ваш телефон">
               </div>
               <a href="javascript:void(0)" class="btn">
                   Рассчитать
               </a>
               <p class="about">
                   Отправляя заявку, вы даете свое согласие на обработку <a href="javascript:void(0)">персональных данных</a>
               </p>
           </form>
        </div>
    </div>
</div>